NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_SHOP_NAME=BABA PUSTAK BHANDAR
NEXT_PUBLIC_SHOP_PHONE=919410676746
NEXT_PUBLIC_SHOP_DISPLAY_PHONE=+91 94106 76746
NEXT_PUBLIC_SHOP_ADDRESS=Shivpuri Market, Opposite DAV Degree College, Bulandshahr, Uttar Pradesh, India
NEXT_PUBLIC_SHOP_HOURS=Mon-Sat, 8:00 AM-8:00 PM
